$primary:       #31333b;
$secondary:     #adeb68;
// $success:       $green !default;
$info:          #777;
// $warning:       $yellow !default;
// $danger:        $red !default;
$light:         #dfdfdf;
// $dark:          $gray-900 !default;